.sectionEmail,
ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contacts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 55vw;
}

.socialIconsContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 0.25rem;
    margin-bottom: -0.1rem;
}

.socialIcons {
    width: auto;
    justify-content: center;
    align-items: center;
}

.githubkitty {
    margin-left: -0.1rem;
    margin-bottom: -0.1rem;
}


p {
    font-weight: 500;
}
ul {
    list-style-type: none;
}

.title {
    margin-top: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title > * {
    margin: 0;
}

h1 {
    font-weight: 600;
    font-size: 2.4rem;
    font-family: 'Bosch-Display';
}
