.scroller {
    overflow: hidden;
    width: 100%;
    max-width: 200px;
    position: relative;
    justify-content: center;
    margin: 0 auto;
}

.scrollList {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    width: max-content;
}

.scrollList li {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); 
    }
}

.scroller[data-animated="true"] .scrollList {
    animation: scroll 20s linear infinite; 
}

.scroller::before,
.scroller::after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50px;
    z-index: 2;
}

.scroller::before {
    left: 0;
    background: linear-gradient(to right, #f0f0f0, transparent);
}

.scroller::after {
    right: 0;
    background: linear-gradient(to left, #f0f0f0, transparent);
}