* {
  font-family: 'Wotfard', sans-serif; 
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(41, 41, 41);
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Wotfard'; /* Name your font family */
  src: url('./assets/Wotfard/Wotfard-Regular.otf'); /* Locate the .ttf file within your directory*/
}


li a {
  display: flex;
  text-decoration: none;
}

.headerNav {
  margin-top: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.centerNav {
  display: flex;
  justify-content: space-around;
  flex: 1;
}


.rightNav {
  margin-top: -19px;
  position: relative;
  transform: translate(-20px, 0);
  
  
  float: right;
  align-items: center;
  gap: 10px;
}

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.circle-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 200px;
  height: 200px;
  transform: translate(20px, 0);

  border-radius: 50%;
  background: rgb(229, 64, 152);
  background: linear-gradient(90deg, rgb(229, 64, 152, 1) 0%, rgb(253,129,66,1) 100%);
  filter: blur(30px)
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 100px;
}

.section-email {
  display: flex;
  justify-content: center;
  gap: 5px;
}

#email {
  margin-top: -3px;
}

