.gallery {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem 0;
    position: relative;
    
}

.galleryList {
    display: flex;
    width: max-content;
}

.gallery img {
    max-width: 200px;
    height: auto;
    flex-shrink: 0;
    margin-right: 1rem; 
}

/* .gallery::-webkit-scrollbar {
    overflow-x: auto; 
    scroll-behavior: smooth; 
    -webkit-overflow-scrolling: touch; 
} */
