.projectCard {
    margin: 10px;
}

.gallery {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px 0;
}

.gallery img {
    max-width: 100%;
    height: auto;
    flex-shrink: 0;
    width: 200px;
}

.gallery::-webkit-scrollbar {
    display: none; /* hide scrollbar */
}