
.centerNav, ol {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-top: 0.5rem;
}

.centerNav {
    padding-bottom: 10rem;
    justify-content: space-around;
    text-align: left;
    gap: 1rem;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

@font-face{ 
	font-family: 'ClashDisplay-Variable';
	src: url('../assets/Fonts/ClashDisplay-Variable.ttf') format('truetype')
}

.centerNav a, li {
    font-family: 'ClashDisplay-Variable';
    font-weight: 500;
    animation: unhoverEffect 0.2s ease-in forwards;
}

.centerNav li:hover, .centerNav a:hover {
    animation: hoverEffect 0.2s ease-in forwards;
}

@keyframes hoverEffect{
    0% {
        font-weight: 500;
        transform: translateX(0);
    }
    100% {
        font-weight: 600;
        transform: translateX(3%);
    }
}

@keyframes unhoverEffect{
    0% {
        font-weight: 600;
        transform: translateX(3%);
    }
    100% {
        font-weight: 500;
        transform: translateX(0);
    }
}

@keyframes DT_hoverEffect{
    0% {
        font-weight: 500;    }
    100% {
        font-weight: 600;
    }
}

@keyframes DT_unhoverEffect{
    0% {
        font-weight: 600;
    }
    100% {
        font-weight: 500;
    }
}

@media(min-width: 1024px){
    .centerNav {
        align-items: center;
        font-size: 3.2rem;
        margin: 1rem 0 0 0;
        padding-top: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 13rem;
        animation: DT_unhoverEffect 0.2s ease-in forwards;
    }
    .centerNav li, .centerNav a {
        min-width: 15rem;
    }
    .centerNav:hover {
        font-size: 3.2rem;
        display: flex;
        flex-direction: row;
        animation: DT_hoverEffect 0.2s ease-in forwards;
    }
}
