
.centerNav, ol {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.centerNav {
    padding-bottom: 10rem;
    justify-content: space-around;
    text-align: left;
    gap: 1rem;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;

}

@font-face{ 
	font-family: 'ClashDisplay-Variable';
	src: url('../assets/Fonts/ClashDisplay-Variable.ttf') format('truetype')
}

.centerNav a, li {
    font-family: 'ClashDisplay-Variable';
    font-weight: 500;
}

li:hover, a:hover {
    animation: hoverEffect 0.2s ease-in forwards;
}

@keyframes hoverEffect{
    0% {
        font-weight: 500;
        transform: translateX(0);
    }
    100% {
        font-weight: 600;
        transform: translateX(3%);
    }
}

